@use "./variables.module.scss" as *;

.about {
  padding: 0 0 80px;
  &_save_date {
    width: 100%;
    max-width: 620px;
    margin: -20px auto 0;
    line-height: 0;
    opacity: 0;
    transform: translateY(50px);
    will-change: opacity, transform;
    @include responsive(tablet) {
      max-width: 520px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_name {
    font-size: 52px;
    color: $main-color;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    will-change: opacity, transform;
    @include responsive(tablet) {
      font-size: 34px;
    }
  }
  &_date {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(50px);
    will-change: opacity, transform;
    @include responsive(tablet) {
      font-size: 26px;
    }
  }
  &_desc {
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
    opacity: 0;
    transform: translateY(50px);
    will-change: opacity, transform;
    @include responsive(tablet) {
      font-size: 18px;
    }
  }
  &_list {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  &_item {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    @include responsive(tablet) {
      margin-bottom: 55px;
    }
    @include responsive(mobile) {
      flex-direction: column;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      @include responsive(mobile) {
        flex-direction: column;
      }
      figure {
        opacity: 0;
        transform: translateX(60px) rotate(4deg);
      }
      .about_block {
        padding-left: 0;
        padding-right: 20px;
        opacity: 0;
        transform: translateX(-60px);
        will-change: opacity, transform;
        @include responsive(mobile) {
          padding-right: 0;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    figure {
      width: 50%;
      max-height: 550px;
      height: 53.816vw;
      border-radius: 10px;
      overflow: hidden;
      opacity: 0;
      transform: translateX(-60px) rotate(-4deg);
      will-change: opacity, transform;
      @include responsive(mobile) {
        width: 100%;
        max-width: 360px;
        height: 109.661vw;
        max-height: 420px;
        margin: 0 auto 25px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
  &_block {
    width: 50%;
    padding-left: 20px;
    opacity: 0;
    transform: translateX(60px);
    will-change: opacity, transform;
    @include responsive(mobile) {
      padding-left: 0;
      width: 100%;
    }
  }
  &_tlt {
    font-size: 42px;
    color: $main-color;
    margin-bottom: 5px;
    @include responsive(tablet) {
      font-size: 30px;
    }
    @include responsive(mobile) {
      text-align: center;
      margin-bottom: 0;
    }
  }
  &_txt {
    font-size: 20px;
    @include responsive(tablet) {
      font-size: 18px;
    }
  }
}
